#loginForm , #registerForm, #addForm, #loggedUser, #chekins {
  padding: 20px;
}
.navbar {
  padding-left: 10px;
  padding-right: 10px;
}
#menu ul li {
  list-style-type: none;
  display: inline;
  padding-left: 15px;
  font-size: 20px;
}
#menu {
  margin-top: 15px;
}

.navbar-brand a {
  font-size: 26px;
}

input.ng-touched.ng-valid {
  border: 1px solid green !important;
}
input.ng-touched.ng-invalid {
  border: 1px solid red !important;
}

.ng-invalid .btn {
  background-color: grey;
  border-color: grey;
}
.validationText {
  color: red;
  text-size:20px;
}
.ng-cloak { display: none !important; }

.expanded {
  background-color: #e6e6e6;
  /*width: 100%;*/
}
#loggedUser {
  font-size: 20px;
}
#addForm, .jumbotron, .jumbotron-fluid {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
}

.jumbotron, .jumbotron-fluid {
  font-size: 25px !important;
}

.meeting {
  background-color: #f8f8f8;
  padding: 15px;
  margin-top: 20px;
  padding-left: 25px;
  font-size: 18px;
}
