#loginForm , #registerForm {
  padding: 20px;
}

input.ng-touched.ng-valid {
  border: 1px solid green !important;
}
input.ng-touched.ng-invalid {
  border: 1px solid red !important;
}

.ng-invalid .btn {
  background-color: grey;
}
.validationText {
  color: red;
  text-size:20px;
}
