<section>

  <form class="text-center" id="addForm" name="addForm" ng-submit="addMeeting()" novalidate>

    <h1>Add Meeting</h1>
    <div class="input-group">
      <input type="text" name="meetingName" placeholder="Add meeting" class="form-control"
      ng-model="meetingName" ng-required="true">
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit"
          ng-disabled="addForm.$invalid">+</button>
      </span>
    </div>

  </form>

  <div class="row">
    <div class="col-md-12 text-left ">
      <div class="meeting" ng-repeat="(key, meeting) in meetings">
        <button class="btn btn-danger" ng-click="deleteMeeting(key)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        <a href="#!/chekins/{{currentUser.regUser}}/{{meeting.$id}}" class="btn btn-primary"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
        <a href="#!/chekins/{{currentUser.regUser}}/{{meeting.$id}}/chekinsList" class="btn btn-primary"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
        | {{meeting.name}}
      </div>
    </div>
  </div>

</section>
