<section>

  <form id="addForm" name="addForm" ng-submit="addMeeting()" novalidate>

    <h1>Add Meeting</h1>
    <div class="input-group">
      <input type="text" name="meetingName" placeholder="Add meeting" class="form-control"
      ng-model="meetingName" ng-required="true">
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit"
          ng-disabled="addForm.$invalid">+</button>
      </span>
    </div>

  </form>

  <div class="row">
    <div class="col-md-12">
      <div class="meeting" ng-repeat="(key, meeting) in meetings">
        {{meeting.name}}
        <button class="btn btn-danger" ng-click="deleteMeeting(key)">Delete</button>
      </div>
    </div>
  </div>

</section>
