<nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header pull-left">
        <div class="navbar-brand"><a ng-href="#!/login">Brand</a></div>
      </div>

      <!-- I don't want it apart of the collapsible portion -->
      <!-- <div class="navbar-header pull-right">
        <ul class="nav navbar-nav" id = "navigation">
          <li class=""><a href="#">No Collapse</a> </li>
          <li class=""><a href="#">No Collapse</a> </li>
        </ul>
      </div> -->
      <div class="pull-right" id="menu">
        <ul>
          <li> <a ng-href="#!/register">Register</a></li>
          <li> <a ng-href="#!/login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
