<section>

  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Get registered</h1>
    <!-- <p class="lead text-center" ng-show="loginForm.$invalid && loginForm.$touched">Enter valid data to login</p> -->
    <p class="lead text-center" > <span ng-show="message">{{message}}</span>  </p>
  </div>
</div>


{{user}}


  <form id="registerForm" name="registerForm" ng-submit="register()" novalidate>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" placeholder="First Name" class="form-control"
       ng-model="user.firstName" ng-required="true" >
       <p ng-show="registerForm.firstName.$invalid && registerForm.firstName.$touched" class="text-center validationText">First name required</p>
    </div>

    <div class="form-group">
      <label for="lastName">First Name</label>
      <input type="text" name="lastName" placeholder="Last Name" class="form-control"
       ng-model="user.lastName" ng-required="true" >
       <p ng-show="registerForm.lastName.$invalid && registerForm.lastName.$touched" class="text-center validationText">Last name required</p>
    </div>

    <div class="form-group">
      <label for="email">Email Adress</label>
      <input type="email" name="email" placeholder="Email Adress" class="form-control"
        ng-model="user.email" ng-required="true">
      <p ng-show="registerForm.email.$invalid && registerForm.email.$touched" class="text-center validationText"> Must be a valid email</p>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password" class="form-control"
      ng-model="user.password" ng-required="true">
      <p ng-show="registerForm.password.$invalid && registerForm.password.$touched" class="text-center validationText">Enter password</p>
    </div>



    <button type="submit" class="btn btn-primary btn-lg btn-block"
    ng-disabled="loginForm.$invalid">Login</button>
    <p class="text-center">or <a href="#/login">login</a></p>
  </form>

</section>
